<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" id="crum" aria-current="page">Library</li>
    </ol>
  </nav>

<div class="row row-cols-1 row-cols-md-4 g-4" id="hbody">
<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">BMW M4 CSL</h5>
            <p><b>R2 500 000,00</b></p>
            <p class="card-text">
                The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
             </p>
            <a href="#" class="btn btn-primary">View item</a>
        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">BMW M4 CSL</h5>
            <p><b>R2 500 000,00</b></p>
            <p class="card-text">
                The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
             </p>
            <a href="#" class="btn btn-primary">View item</a>
        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">BMW M4 CSL</h5>
            <p><b>R2 500 000,00</b></p>
            <p class="card-text">
                The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
             </p>
            <a href="#" class="btn btn-primary">View item</a>
        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">BMW M4 CSL</h5>
            <p><b>R2 500 000,00</b></p>
            <p class="card-text">
                The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
             </p>
            <a href="#" class="btn btn-primary">View item</a>
        </div>
    </div>
</div>
</div>
