
<header style="background-color: rgb(3, 3, 3);" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="navbar-brand d-inline-flex link-body-emphasis text-decoration-none">
        <p style="color: aliceblue;">Car Collect</p>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
      
    </ul>

    <div class="col-md-4 text-end">
      <button type="button" class="btn btn-outline-primary me-2" routerLink="/login" >Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
  
        
      <button style="background-color: rgb(74, 224, 212);border-radius: 5px; border: none; padding: 5px;" class="button badge-button mini-cart-button badge-button-module_badge-button_3TXVp badge-button-module_badge-icon_LvKrF badge-button-module_badge-count_28PIS">
        <div class="badge-button-module_badge-icon-wrapper_1C06p">
          <svg viewBox="0 0 24 24" role="presentation" class="badge-button-module_badge-icon_LvKrF" style="width: 20px; height: 20px;">
            <path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" style="fill: currentcolor;">
            </path>
          </svg>
        </div>
        
      </button>
    </div>
   
  </header>