.active{
    background: blue;
}
.btn{

    border: none;
    padding: 10px 20px;
    display: inline-block;

}
a
{
    color: aliceblue;
    font-size: large;
    background-color: black;
    margin-top: 5%;
}
#cart{
    color: rgb(239, 255, 15);
}