
<header style="background-color: rgb(3, 3, 3);" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

  <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="navbar-brand d-inline-flex link-body-emphasis text-decoration-none">
        <p style="color: aliceblue;">Car Collect</p>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/faqs" routerLinkActive="active">FAQs</a></li>
      
    </ul>

    <div class="col-md-4 text-end">
      <button type="button" class="btn btn-outline-primary me-2" routerLink="/login" >Login</button>
      <button type="button" class="btn btn-primary me-1">Sign-up</button>
      <button type="button" class="btn btn-outline-primary" id="cart">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
    </button>
    </div>
   
  </header>