.price{
    color: red;
}
#hbody{
    padding: 15px;
}
.btn{
    width: 100%;
}
#firstcontent{
    text-align: center; 
}
.card{
    background-color: rgb(124, 124, 124);
}
img{
    height: 180px;
}
.card-img{
    height: inherit;
}