<div class="card bg-dark text-white">
    <img src="../assets/rollsroys.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay" id="firstcontent">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <h1 id="firstcontent" style="color: rgb(255, 255, 255);"><b>choose your brand</b></h1>

<div class="row row-cols-1 row-cols-md-4 g-4" id="hbody">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/AUDI-logo.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title" id="firstcontent">AUDI</h5>
                
                <a href="#" class="btn btn-primary" routerLink="/audi">View item</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/benz-logo.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title" id="firstcontent">BENZ</h5>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/bmw-logo.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title" id="firstcontent">BMW</h5>
                <a class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/vw-logo.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title" id="firstcontent">VW</h5>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    
</div>