<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2022-audi-rs3-sedan.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Audi rs3 sedan</h5>
                <p class="price"><b>R1 128 901,05</b></p>
                <p class="card-text">
                    With a potent 401-hp turbocharged five-cylinder engine, the 2022 Audi RS3 is the raciest version of the company's small luxury sedan
                </p>
                <a href="#" class="btn btn-primary" routerLink="/itemDetails">View item</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2020 audi rs3.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Audi rs3 sedan</h5>
                <p class="price"><b>R800 901,05</b></p>
                <p class="card-text">
                    With a potent 401-hp turbocharged five-cylinder engine, the 2022 Audi RS3 is the raciest version of the company's small luxury sedan
                </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2022-audi-rs3-sedan.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Audi rs3 sedan</h5>
                <p class="price"><b>R1 128 901,05</b></p>
                <p class="card-text">
                    With a potent 401-hp turbocharged five-cylinder engine, the 2022 Audi RS3 is the raciest version of the company's small luxury sedan
                </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2020 audi rs3.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Audi rs3 sedan</h5>
                <p class="price"><b>R800 901,05</b></p>
                <p class="card-text">
                    With a potent 401-hp turbocharged five-cylinder engine, the 2022 Audi RS3 is the raciest version of the company's small luxury sedan
                </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">BMW M4 CSL</h5>
                <p><b>R2 500 000,00</b></p>
                <p class="card-text">
                    The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
                 </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">BMW M4 CSL</h5>
                <p><b>R2 500 000,00</b></p>
                <p class="card-text">
                    The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
                 </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">BMW M4 CSL</h5>
                <p><b>R2 500 000,00</b></p>
                <p class="card-text">
                    The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
                 </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../assets/2023-BMW-M4.jpeg" class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">BMW M4 CSL</h5>
                <p><b>R2 500 000,00</b></p>
                <p class="card-text">
                    The new M4 CSL receives a BMW M 50 Years badge on its hood, trunklid, and wheels to honor BMW's racing heritage
                 </p>
                <a href="#" class="btn btn-primary">View item</a>
            </div>
        </div>
    </div>
</div>